
    .exhibition-heading {
        text-align: center;
        color: #02236d;
        padding-top: 70px;
        padding-bottom: 20px;
    }
    .card {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-bottom: 20px;
        box-sizing: border-box;
        transition: transform 0.3s;
    }

    .card:hover {
        transform: scale(1.05);
    }

    h2 {
        color: #00b9fe;
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    p {
        color: #555;
        margin-bottom: 15px;
    }