.jumbotron
{
    margin-top: 80px;
}
.criteria-section .row
{
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;

}
.criteria-section h3 {
    padding-top: 10px;
    color: #00b9fe;
}

.criteria-section p {
    color: black;
    padding: 10px;
    font-size: 18px;
}

.criteria-section img {
    max-width:100%;
    height: 200px;
    border-radius: 8px;
    margin-top: 10px;
}