body, ul, li, a {
    margin: 0;
    padding: 0;
    color: #333;
    list-style: none;
    text-decoration: none;
   
}
.seminar-heading
{
    text-align: center;
    color: #02236d;
    padding-top: 70px;
    padding-bottom: 20px;
}
main {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 1.6;
    margin: 20px;
    padding: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

h1, h2, h3 {
    color: #00b9fe;
}

p {
    color: #555;
    margin-bottom: 15px;
}
